// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.userButton {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 20px;
    background-color: #337ab7;
    font: #fff;
    // margin-left: 10px;
}

.userButton a {
  color: white;
}